@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1D2F6F;
    --secondary-color: #8390FA ;
    --accent1-color: #FAC748;
    --accent2-color: #F9E9EC;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rowdies";
    --paragraph-font: Urbanist, sans-serif;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

nav {
	text-align: right;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
	list-style: none;
	padding: 0;
    font-family: var(--heading-font);
}

header img {
	margin: 0 0.25rem 0 1rem;
	width: 150px;
	height: auto;
}

.navigation a {
	display: block;
	color: var(--primary-color);
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}


.hero h1 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
    position: absolute;
    text-align: center;
}
  
p {
    color: var(--paragraph-font);
    font-family: var(--paragraph-font);
}
  
body {
    max-width: 1024px;
    margin: 0 auto;
}
  
.hero {
    position: relative;
    overflow: hidden;
}
  
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
  
.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary-color);
    font-size: 3em;
    text-align: center;
}
  
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--accent1-color);
}
  
.hero article p {
    margin-bottom: 10px;
}
  
.hero article img {
    float: right;
    margin-left: 160px;
}

footer {
    background-color: var(--accent1-color);
    padding: 20px;
}

.sociallinks {
    display: flex;
    justify-content: flex-start;
}

.sociallinks a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
}

.sociallinks a img {
    width: 50PX;
    display: flex;
    justify-content: flex-end;
}