@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rowdies:wght@300;400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1D2F6F   ;
    --secondary-color: #8390FA ;
    --accent1-color: #FAC748;
    --accent2-color: #F9E9EC;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Rowdies";
    --paragraph-font: Urbanist, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}