div content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: blue;
}

header {
    background-color: crimson;
}

nav a:hover {
    background-color: darkgreen;
}

.book, .join {
    background-color: darkblue;
}

.book:hover, .join:hover {
    background-color: darkslategrey;
}

#background {
    background-color: greenyellow;
}

.msg {
    background-color: brown;
}

footer {
    background-color: lightcoral;
}