:root {
    --primary-color: #0A1045;
    --secondary-color: #00C2D1;
    --accent1-color: #F9E900;
    --accent2-color: #F6AF65;
    --accent3-color: #EF6461;

    --heading-font: 'Amatic SC';
    --paragraph-font: 'Josefin Sans', sans-serif;
}
header {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 150px auto;
}
.logo {
    width: 80px;
}

footer {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color:var(--accent1-color);
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer a:hover {
    color: var(--accent3-color);
}

footer p a.hover {
    text-decoration: underline;
}

.icon {
    width: 80px;
    padding-top: 10px;
}