body {
    background-color: white;
    border-radius: 5px;
}

.card {
    width: 250px;
    margin: 0 auto;

}

.headerimage {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

h2 {
    text-align: center;
    color:#3f5b8a;
    font-size: small;
}

.title {
    text-align: center;
}

.awesomearticle {
    padding: 10%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#3f5b8a;
    width: 250px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.box1 {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    font-size: smaller;
}

.box2 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-size: smaller;
}

.box3 {
    text-align: center;
    grid-column: 3/4;
    grid-row: 1/2;
    color: white;
    font-size: smaller;
}

#middlediv {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

sub {
    vertical-align: super;
    font-size: smaller;
}