body {
    margin: 0;
    display: block;
    font-size: 0;
}

.title {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.images {
    border-radius: 50%;
    border: 10px solid rgb(52, 50, 50);
    width: 15%;
    margin: 0 auto;
    margin-left: 40px;
    margin-right: 40px;
   
}

div {
    background-color: gray;
    padding: 50px;
    text-align: center;
    font-size: 0;
    margin: 0 auto;
}