body {
    margin: 0;
    display: block;
}



.desk {
    border-radius: 50%;
}

.graphic {
    border-radius: 50%;
}

.person {
    border-radius: 50%;
}

div {
    background-color: gray;
    font-size: 0;
}