body {
    background-color: rgb(245, 58, 176);
}

.main-page {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: white;
    font-size: 30px;
}

.quote_education {
    color: white;
    font-size: 15px;
}

.author {
    color: white;
    font-size: 20px;
}

.list {
    color: black;
    text-align: left;
    font-size: 20px;
}

img {
    width: 200px;
}

.quotation {
    color:white;
    font-size: 40px;
}

footer p {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 4px auto;
}
h1:hover{
    color:black;
}