body {
    background-color: rgb(245, 58, 176);
}

.main-page {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.title {
    color: white;
}

.quote_education {
    color: white;
}

.author {
    color: white;
}

.list {
    color: black;
    text-align: left;

}

img {
    width: 200px;
}

.quotation {
    color:white;
}



footer p {
    text-align: center;
    color: black;
}