@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
img {
    width: 100%;
}
.card {
    border-radius: 5px;
    overflow: hidden;
}
h1 {
    font-size: .8em;
    font-family:'Roboto Slab', serif;
    color: #3f5b8a;
    margin: 20px 0 0;
}
h2 {
    font-family: 'Roboto Slab', serif;
    color:black;
    text-align: center;
    margin-top: 0;
}
.main p {
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    line-height: 1.3em;
    width: 80%;
}
body {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #3f5b8a;
    font-family: 'Roboto Slab', serif;
    color: white;
    text-align: center;
}
sub {
    vertical-align: super;
    font-size: small;
}